.git
.gitignore
.dockerignore
README.md
*.log
.env
.DS_Store
Thumbs.db
node_modules
vendor
frontend/build
frontend/node_modules
backend/vendor
backend/public/static
backend/storage/logs/*
*.tmp
*.temp